* {
    border: none;
    border-radius: 0;
    font-family: "Fira Code Nerd Font";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #888;
}

#window {
    font-weight: bold;
    font-family: "Ubuntu";
}

#workspaces {
    padding: 0 5px;
    margin: 0 5px;
}


#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #888;
    border-bottom: 2px solid transparent;
}

#workspaces button.focused {
    color: #f33;
    border-bottom: 2px solid #f33;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#idle_inhibitor, #mpd, #backlight,
#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 0 3px;
    margin: 0 2px;
}

#clock {
    font-weight: bold;
    font-size: larger;
    color: white;
}

#battery {
}

#battery icon {
    color: red;
}

#battery.charging {
    border-bottom: 2px solid green;
}

@keyframes blink {
    to {
        background-color: red;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
}

#pulseaudio.muted {
    border-bottom: 2px solid #800;
}

#custom-spotify {
    color: rgb(102, 220, 105);
}

#tray {
}

